@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');
@import 'navbar';
@import 'loader';
@import 'main-content';
@import 'side-content';
@import 'footer';
@import 'modal';
@import 'cards';
@import 'breakpoints';

/* reserter code */
:root {
  --blanco: #FFFFFF;
  --negro: #000000;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #000000;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: block;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* reserter code */




/* my code */
:root {
  --yellow: #ffd602;
  --red: #d5040a;
  --blue: #036cb6;
  --white: #ffffff;
}

html {
  font-size: 16px; /* Set the base font size */
}


h1 {
  font-size: 2rem; /* This will be equivalent to 32px */
}


body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  height: 100vh;
  width: 100%;
  margin: 0;
  font-size: 1rem; /* This will be equivalent to 16px */
  h1 {
    font-size: 2rem; /* This will be equivalent to 32px */
  }
}

.page {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .container {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 20% 50% 30%;
    grid-template-areas: 'nav     aside'
                         'section aside'
                         'footer  aside';
  }
}