.main-content {
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;

  p:first-child {
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 -14px 44px;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 28px 0;
  }

  p:last-child {
    font-weight: 300;
    margin: 0;
    width: 60%;
  }

  animation: 1.8s main-content 0.5s ease-in-out;
}

@keyframes main-content {
  0% {
    transform: translateY(-600px);
  }

  100% {
    transform: translate0(0px);
  }
}