.navbar {
  grid-area: nav;
  display: flex;

  .navbar__content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0 80px;

    img {
      width: 50px;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      padding: 0;
      width: 450px;

    }
    a {
      font-weight: 300;
      color: var(--red);
      text-decoration: none;

      &:hover::after {
        transform: scaleX(1);
      }

      &::after {
        content: '';
        display: block;
        border-bottom: 2px solid var(--red);
        transform: scaleX(0);
        transition: transform 300ms;
      }

    }

    .toggle__menu {
      display: none;
    }

    animation: 2s navbar 0.5s ease-in-out;
  }

}

@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0px);
  }
}