.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background: var(--yellow);
  border-radius: 0 80px 0 0;
  transform: translateY(100%);
  animation-name: footer;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  div {
    background: var(--blue);
    width: 130px;
    height: 50%;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    img {
      width: 160px;
      position: absolute;
      bottom: 30px;
      transform: translateY(0px) scale(1);
      transition: transform 0.3s ease-in-out;
    }
    &:hover img {
      cursor: pointer;
      transform: translateY(-20px) scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
  }
}

@keyframes footer {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0px);
  }
}