.navbar {
  grid-area: nav;
  display: flex;

  .navbar__content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0 80px;

    img {
      width: 50px;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      padding: 0;
      width: 450px;

      li a {
        font-weight: 300;
        color: var(--red);
        text-decoration: none;
      }
    }


    animation: 1.8s navbar 0.5s ease-in-out;
  }
}

@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0px);
  }
}